@import '../../scss/mixin';

.about{
.about-product{
@include padding-top;
    .about-btn{
        @include flex-align;
        align-items: center;
        hgroup{
            button{
                margin:0 .7rem;
                background-color: transparent;
                border: none;
                font-size: 1rem;
            }
            .current{
                border-bottom: 2px solid #0156FF;
                padding: .4rem 0;

            }
        }
        .flex1{
            @include flex;
            flex-wrap: wrap;
            >div {
                flex-basis: 150px;
                flex-grow: 1;
            }
            input{
                outline:none;
                border:none;
                padding: .6rem;
                width:30%;
                background-color:  #F5F7FF;
            }
            .cart{
                background-color: #0156FF;
                border-radius: 2rem;
                color:white;
                border:none;
                padding: 1rem 2rem;
                font-size: 1rem;
            }
        }
    }
    .flex2{
        @include flex-between;
        align-items: center;
        >div{
            flex-grow: 1;
            flex-basis: 400px;
        }
        .review{
            background-color:  #F5F7FF;
            padding: 5rem 6rem;
            position:relative;
            .group{
                position: absolute;
                right:.1rem;
                top:1rem;
            }
        }
        .flex3{
           @include flex;

        }
    }
}
}
@media screen and (max-width:990px){
    .about{
        .about-product{
            padding: 1rem;

            .flex2{
                .review{
                    padding: 1rem;
                    margin-top: 2rem;

                }
            }
        }
    }
}