@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&family=Poppins:wght@500;600;700;900&family=Roboto:wght@500&display=swap');
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
img{
  max-width: 100%;
}
body,html{
  overflow-x: hidden;
  font-family: 'Roboto','Open Sans','Poppins';
}
.swiper-button-next:after{
  font-size:1rem!important;
  background-color: white!important;
  border-radius: 2rem;
  padding: 1rem;
  box-shadow: 2px -4px 35px -8px rgba(0, 0, 0, 0.18);
}
.swiper-button-prev:after{
  font-size:1rem!important;
  background-color: white!important;
  border-radius: 2rem;
  padding: 1rem;
  box-shadow: 2px -4px 35px -8px rgba(0, 0, 0, 0.18);
}
p{
  margin: .7rem 0;
}
a{
  text-decoration: none;
}
a:visited{
  color:inherit;
}