

@mixin flexbox{
    display: flex;
    align-items: center;
    gap:2rem;
}
@mixin padding-top{
    padding: 5rem;
}
@mixin padding{
    padding: 1rem clamp(4rem, 4vh, 6rem)2rem;
}
@mixin flex{
    display: flex;
    align-items: center;
    gap:1rem;
}
@mixin flex-wrap{
    display: flex;
    flex-wrap: wrap;
}
@mixin flex-align{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
@mixin flex-between{
    display: flex;
    gap:2rem;
    flex-wrap: wrap;
}
@mixin padding-top{
    padding: 1rem 3rem;
}